<footer class=" text-white pt-4 pb-2 ">
  <div class="container b">
    <!-- Logo and Rights -->
    <div class="d-flex  align-items-center flex-wrap p-5">
      <h4 class="fw-bold m-0">NOICELAND</h4>
      <small class="text-secondary"> &nbsp; &nbsp; © 2018 NOICELAND™, ALL RIGHTS RESERVED</small>
    </div>

    <hr class="border-secondary my-3">

    <div class="row">
      <!-- Categories -->
       <h6 class="text-secondary">CATEGORIES</h6>
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-6 col-sm-3 mt-5">
            
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Animation</a></li>
              <li><a href="#" class="text-white text-decoration-none">Interactive Design</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-3 mt-5">
            <ul class="list-unstyled mt-4 mt-sm-0">
              <li><a href="#" class="text-white text-decoration-none">Architecture</a></li>
              <li><a href="#" class="text-white text-decoration-none">Miscellaneous</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-3 mt-5">
            <ul class="list-unstyled mt-4 mt-sm-0">
              <li><a href="#" class="text-white text-decoration-none">Graphic Design</a></li>
              <li><a href="#" class="text-white text-decoration-none">Photography</a></li>
            </ul>
          </div>
          <div class="col-6 col-sm-3 mt-5">
            <ul class="list-unstyled mt-4 mt-sm-0">
              <li><a href="#" class="text-white text-decoration-none">Illustration</a></li>
              <li><a href="#" class="text-white text-decoration-none">Product Design</a></li>
            </ul>
          </div>
        </div>

        <!-- Second row -->
        <div class="row mt-5">
          <div class="col-4 mt-5">
            <h6 class="text-secondary">INFORMATION</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">about</a></li>
              <li><a href="#" class="text-white text-decoration-none">contact</a></li>
              <li><a href="#" class="text-white text-decoration-none">terms</a></li>
            </ul>
          </div>
          <div class="col-4 mt-5">
            <h6 class="text-secondary">FOLLOW US</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">instagram</a></li>
              <li><a href="#" class="text-white text-decoration-none">facebook</a></li>
              <li><a href="#" class="text-white text-decoration-none">twitter</a></li>
            </ul>
          </div>
          <div class="col-4 mt-5">
            <h6 class="text-secondary">TEMPLATE</h6>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white text-decoration-none">Image License Info</a></li>
              <li><a href="#" class="text-white text-decoration-none">Powered by Webflow</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Newsletter -->
      <div class="col-12 col-md-4 mt-4">
        <h6 class="text-secondary">SUBSCRIBE TO NEWSLETTER</h6>
        <form class="d-flex  wid">
          <input type="email" class="form-control me-2" placeholder="Email address">
          <button type="submit" class=" btn btn-dark border border-light">SEND</button>
        </form>
      </div>
    </div>
  </div>
</footer>
