.anim:hover{
  
  
  text-decoration: underline;
}

.btn{
    display: block;
    margin: 70px auto;
    padding: 15px;
    border: 2px solid black ;
    text-align: center;
    
}
.btn:hover{
    color: white;
    background-color: black;
}