<div class="container py-5 ">
  <h6 class="text-uppercase mb-4">FEATURED POSTS</h6>

  <div class="row g-4">
    <div class="col-md-6" *ngFor="let post of posts">
      <img [src]="post.image" class="img-fluid">
      <div class="text-uppercase text-secondary mt-2 anim" style="font-size: 12px;">
        {{ post.category }}
      </div>
      <div class="fw-bold text-uppercase mt-1" style="font-size: 14px;">
        {{ post.title }}
      </div>
      <div class="fw-bold anim" style="font-size: 12px;">
        By {{ post.author }}
      </div>
    </div>
  </div>
 
</div>

